<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href='img/favicon.png' type='image/x-icon'/ >
    <title>FAQs</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="body-contact-us">
  <div class="content_section">
    <div class="section-events">
        <%- include('partials/nav'); %>
    </div>
        
    <div class="upcoming-evnts-section">
        <div class="page-container">
            <h2 class="guest-header">Popular questions About <a href="/">  <span class="logo">Event</span>Masters</a> Events</h2>
            <span class="vice-separator vice-separator--number"><span></span></span>

            <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-item-header">
                    CAN I PAY WITH A CREDIT CARD AT THE EVENT?
                  </div><!-- /.accordion-item-header -->
                  <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                      Entry Fee– Only cash. You can find ATMs at every fest.<br>
                      Food Vendors– Some are only cash, some can charge cards. Plan accordingly.<br>
                      Merchant Vendors– Some are only cash, some can charge cards. Plan accordingly.<br>
                      Children’s games/ rides– Only cash. You can find ATMs at every fest.<br>
                      </div>
                  </div>  
                </div>  
              </div>

            <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-item-header">
                    HOW DOES THE TICKET PERSONALIZATION WORK?
                  </div><!-- /.accordion-item-header -->
                  <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                      During the ticket purchase process, the ticket owner’s full name, email address and other information needs to be filled for every individual ticket.
                       Later on, it is possible to can change this data with the help of specified website
                      </div>
                  </div>  
                </div>  
              </div>

              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-item-header">
                    I LOST MY TICKET CONFIRMATION EMAIL.
                  </div><!-- /.accordion-item-header -->
                  <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                      If you purchased your ticket on the Music On website you can resend your booking confirmation email with the help of specified website
                    </div>
                  </div>  
                </div>  
              </div>

              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-item-header">
                    I CANNOT ATTEND.
                  </div><!-- /.accordion-item-header -->
                  <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                      You can safely re-sell your ticket via our official secondhand ticket partner
                      You can sell your day ticket for the day mentioned on the ticket and your weekend tickets as one (but not partially for one day). 
                      It is not possible to go to the event on Saturday and sell your weekend ticket for the Sunday.
                     </div>
                  </div>  
                </div>  
              </div>

              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-item-header">
                    IS THERE PARKING?
                  </div><!-- /.accordion-item-header -->
                  <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                      Most festivals do not have designated parking but there normally is some paid or free parking in the surrounding area. 
                      We recommend taking public transportation.
                    </div>
                  </div>  
                </div>  
              </div>

              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-item-header">
                    CAN I BRING MY DOG?
                  </div><!-- /.accordion-item-header -->
                  <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                      All of our street fests are dog friendly but per the city requirements they must be on a leash when not in a dog are. 
                      For events in private parks, make sure to take a look in the park website.
                    </div>
                  </div>  
                </div>  
              </div>
    </div>
      </div>
      </div>
      <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
    addInteractivityToFaqs();
    </script>
    <%-include('partials/footer')%>
</body>
</html>