<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href='img/favicon.png' type='image/x-icon'/>
    <title>Home page</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="content_section">
    <div class="header-section">
        <!-- include navigation file -->
    <%-include('partials/nav')%>
    <div class="container-landing-page">
        <div class="accordion">
            <div class="accordion-item">
              <div class="accordion-item-header active">
                Music Festival
              </div>
              <div class="accordion-item-body" style="max-height: 193px;">
                <div class="accordion-item-body-content">
                    <b>Will be held on <strong style="color: orange;">20<sup>th</sup> June 2024</strong> at FABRIC LONDON. On stage will have greatest of all time artists.<br>
                    Don't miss out get your ticket TODAY!</b>
                  </div>
              </div>  
            </div>  
          </div>
    </div>
 </div>
   
    <div class="guest-section">
        <div class="page-container">
            <h2 class="guest-header">GUEST ARTIST</h2>
            <span class="vice-separator vice-separator--number"><span></span></span>
            
            <div class="geust-sect-1">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone-img" src="img/artist1.jpg" alt="guest artist 1"></div>
            <div class="sect-content"> 
                <h3 class="artist-name">Gary Numan</h3>
                <p class="geust-content">In Gary Numan's "Cars," the message is that cars lead to a mechanical society devoid of personal interaction. This didn't stop automakers from using it in commercials. Both</p></div>
            </div>
            <div class="geust-sect-2">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone-img" src="img/artist2.jpg"  alt="guest artist 2"></div>
                <div class="sect-content"> 
                    <h3 class="artist-name">Bon Jovi</h3>
                    <p class="geust-content">"Wanted Dead Or Alive" by Bon Jovi got the Unplugged craze going when Jon Bon Jovi and Richie Sambora performed it with just their acoustic guitars </p></div>
            </div>
            <div class="geust-sect-3">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone-img" src="img/artist3.jpg" alt="guest artist 3"></div>
                <div class="sect-content">
                    <h3 class="artist-name">Annie Haslam</h3>
                 <p class="geust-content">The 5-octave voice of the classical rock band Renaissance, Annie is big on creative expression. In this talk, she covers Roy Wood, the history of the band, and where all the money went in the '70s.</p> </div>
            </div>


            <div class="geust-sect-1">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone-img" src="img/artist4.jpg"  alt="guest artist 4"></div>
            <div class="sect-content"> 
                <h3 class="artist-name">David Bowie</h3>
                <p class="geust-content"> </p></div>
            </div>
            <div class="geust-sect-2">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone-img" src="img/artist5.jpg" alt="guest artist 5"></div>
                <div class="sect-content"> 
                    <h3 class="artist-name">Sergio Mendes</h3>
                    <p class="geust-content"> </p></div>
            </div>
            <div class="geust-sect-3">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone-img" src="img/artist6.jpg" alt="guest artist 6"></div>
                <div class="sect-content">
                    <h3 class="artist-name">B.B. King</h3>
                 <p class="geust-content"></p> </div>
            </div>

        </div>
    </div>


    <div class="guest-section">
        <div class="page-container">
            <h2 class="guest-header">STAGES/CHANNELS OF OUR EVENT</h2>
            <span class="vice-separator vice-separator--number"><span></span></span>
            
            <div class="geust-sect-1">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone" src="img/artist3.jpg"  alt="stage"></div>
            <div class="sect-content"> 
                <h3 class="artist-name"> Band Performance </h3>
                <p class="geust-content">Enjoy yourself as you are being entertained by band. </p></div>
            </div>
            <div class="geust-sect-2">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone" src="img/elctronic-music.jpg" alt="stage"></div>
                <div class="sect-content"> 
                    <h3 class="artist-name">Dance floor</h3>
                    <p class="geust-content"> Enjoy electronic music</p></div>
            </div>
            <div class="geust-sect-3">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone" src="img/artist6.jpg"  alt="stage"></div>
                <div class="sect-content">
                    <h3 class="artist-name">Country music band</h3>
                 <p class="geust-content">Like country music? Here you go.</p> </div>
            </div>
            <div class="geust-sect-1">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone" src="img/dj1.jpg"  alt="stage"></div>
            <div class="sect-content"> 
                <h3 class="artist-name">Live Dj Mixes 1</h3>
                <p class="geust-content"> </p></div>
            </div>
            <div class="geust-sect-2">
                <div class="sect-img"><img class="sect-img img vc_gitem-zone" src="img/artist4.jpg" alt="stage"></div>
            <div class="sect-content"> 
                <h3 class="artist-name">Live Dj Performance</h3>
                <p class="geust-content"> </p></div>
            </div>

        </div>
    </div>
    </div>
    <%-include('partials/footer')%>
</body>
</html>